<table  class="center-align striped">
    <thead>
        <tr>
            <th>Sought Values</th>
            <th>Returned Values: ??</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>First Name: </strong></td>
            <td>{{profile?.givenName}}</td>
        </tr>
        <tr>
            <td><strong>Last Name: </strong></td>
            <td> {{profile?.surname}}</td>
        </tr>
        <tr>
            <td><strong>Email: </strong></td>
            <td> {{profile?.userPrincipalName}}</td>
        </tr>
        <tr>
            <td><strong>Id: </strong></td>
            <td> {{profile?.id}}</td>
        </tr>
    </tbody> 
</table>