
<article *ngIf="!loginDisplay">
    <section class="valign-wrapper">
        <p class="flow-text center-align">Please sign-in to see your profile information.</p>
    </section>
    <mat-toolbar>
        test2
    </mat-toolbar>
</article>

<article *ngIf="loginDisplay">
    <section class="valign-wrapper cust-column">
        <h3>Login successful!</h3>
        <p class="flow-text center-align">Request your profile information by clicking Profile above.</p>
    </section>  
    <mat-toolbar>
        test3
    </mat-toolbar>
</article>